{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "react",
        "react-native",
        "jest"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "react-native/react-native": true,
        "jest/globals": true
    },
    "settings": {
        "jest": {
            "version": 26
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:jest/recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "react-native/no-unused-styles": 2,
        "react-native/split-platform-components": 2,
        "react-native/no-inline-styles": 2,
        "react-native/no-color-literals": 2,
        "react-native/no-raw-text": 0,
        "react-native/no-single-element-style-arrays": 2,
        "react/prop-types": "off",
        "no-else-return": "error",
        "no-mixed-spaces-and-tabs": "error",
        "semi": "error",
        "object-curly-spacing": "error",
        "eol-last": "error",
        "no-trailing-spaces": "error",
        "indent": "error",
        "quotes": ["error", "single"]
    }
}